## Introduction

## Preliminary Exploratory Data Analysis

In [2]:
### Run this cell before continuing.
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source('cleanup.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [4]:
# Load in dataset
heart_data <- read_csv("https://raw.githubusercontent.com/random56428/heart-disease/main/data/heart.csv")
# Mutate target variable into factors
heart_data <- mutate(heart_data, target = as_factor(target))
# Peek the first 6 rows of the dataset
head(heart_data)

Rows: 1025 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 52  1   0  125      212  0   1       168     0     1.0     2     2  3
2 53  1   0  140      203  1   0       155     1     3.1     0     0  3
3 70  1   0  145      174  0   1       125     1     2.6     0     0  3
4 61  1   0  148      203  0   1       161     0     0.0     2     1  3
5 62  0   0  138      294  1   1       106     0     1.9     1     3  2
6 58  0   0  100      248  0   0       122     0     1.0     1     0  2
  target
1 0
2 0
3 0
4 0
5 0
6 1

In [9]:
# Set the seed. Don't remove this!
set.seed(1234567890)

# Randomly split 75% of the data in the training set
heart_split <- initial_split(heart_data, prop = 0.75, strata = target)
heart_train <- training(heart_split)
heart_test <- testing(heart_split)

# heart_split
# heart_train
# heart_test

# Table that reports the number of observations in each class (target) of the training dataset
heart_train |>
    group_by(target) |>
    summarize(count = n())

  target count
1 0      374
2 1      394

## Methods

## Expected Outcomes and Significance